{extend name="public/base"}
{block name='style'}
<!--页面样式、引用/示例如下-->
<!--<link rel="stylesheet" href="__CSS__/scenic/region/region.css">-->
<style>
.setting{
    width: 100%;
    height: 800px;
    background-color: #00b7ee;
}
.menuList{
    position: absolute;
    border-bottom-style:none;
    margin: 20px 100px;
    width: 200px;
    height: 300px;

}
.menuList li{
    display: table;
    /*width: 130px;*/
    height: 46px;
    text-align: center;
    font-size: 18px;

}
.menuCon{
    margin: 20px 260px;
    background-color: #fff;
    height: 800px;
    /*border: 1px solid black;*/
    /*width: 600px;*/
    /*height: 600px;*/
}
.title{
    padding-bottom: 18px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee;
}
.title p{
    font-size: 24px;
    color: #444;
    font-weight: normal;
}
.setTitle{
    font-size: 15px;
    color: #3f3f3f;
    width: 100px;
}
#myInfo tr td{
    padding: 20px 0;
    width: 150px;
    height: 74px;
}
#myInfo{
    margin: 0 250px;
}
.setInput{
    padding: 5px 10px;
    width: 200px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    text-align: center;
    background-color: hsla(0,0%,71%,.1);
}
#myInfo tr{
    border-bottom: 1px solid #f0f0f0;
    display: table-row;
    vertical-align: inherit;
    /*border-color: inherit;*/
}
.setRadio{
    font-size: 15px;
    color: #969696;
    float: left;
}
.setRadio input{
    margin: 0 20px;
}


</style>
{/block}

{block name='title'}
个人中心
{/block}

{block name='body'}
<!--页面内容 /示例如下-->


<div id="menuList">
    <div class="layui-tab layui-tab-brief" lay-filter="test1">
        <ul class="layui-tab-title menuList">
            <li class="layui-this " lay-id="myInfo" >我的信息</li>
            <li lay-id="2">我的头像</li>
            <li lay-id="3">账号安全</li>
            <li lay-id="4">我的钱包</li>
            <li lay-id="5">绑定设置</li>
        </ul>
        <div class="layui-tab-content menuCon">
            <div class="layui-tab-item layui-show">
                <div class="title">
                    <p>我的信息</p>
                </div>
                <table id="myInfo">
                    <tr>
                        <td class="setTitle">昵称</td>
                        <td><input class="am-form-field am-round setInput" type="text" placeholder="请输入昵称"></td>
                    </tr>
                    <tr>
                        <td class="setTitle">电子邮箱</td>
                        <td><input class="am-form-field am-round setInput" type="text" placeholder="请输入您的常用邮箱"></td>
                    </tr>
                    <tr>
                        <td class="setTitle">性别</td>
                        <td class="setRadio">
                            <input type="radio" value="1">男

                            <input style=""  type="radio" value="2">女

                        </td>
                    </tr>
                    <tr>
                        <td class="setTitle">年龄</td>
                        <td><input class="am-form-field am-round setInput" type="text" placeholder="请输入您的年龄"></td>
                    </tr>
                    <tr>
                        <td><input type="button" style="margin:0 200px;width: 100px" class="layui-btn layui-btn-radius saveInfo" value="保存"></td>
                    </tr>



                </table>






            </div>
            <div class="layui-tab-item">
                <div class="title">
                    <p>我的头像</p>
                </div>




            </div>
            <div class="layui-tab-item">
                <div class="title">
                    <p>账号安全</p>
                </div>


            </div>
            <div class="layui-tab-item">
                <div class="title">
                    <p>我的钱包</p>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="title">
                    <p>绑定设置</p>
                </div>

            </div>
        </div>
    </div>

</div>





{/block}


{block name='script'}
<script>
    nav(4);
</script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<!--JS、引用 /示例如下-->
{/block}