{extend name="public/regionNav"}
{block name='style'}
<style>
    #desNav{
        display: block;
    }
</style>
<link rel="stylesheet" href="__CSS__/home/region/food.css">
{/block}
{block  name="site"}
<a href="">厦门<i class="layui-icon orangeIcon">&#xe625;</i></a>
<a><cite style="color: #ff7000;font-weight: bold;">厦门美食预订</cite></a>
{/block}
{block name='body'}
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-sm3 layui-col-xs3">
                <h3 class="classift">美食分类</h3>
                <ul class="foodUl">
                    <li>川菜</li>
                    <li>江浙菜</li>
                    <li>西餐</li>
                    <li>日本料理</li>
                    <li>老字号</li>
                </ul>
            </div>
            <div class="layui-col-sm9 layui-col-xs9 foodDiv">
                <div>
                    <h1 class="foodName">北京烤鸭</h1>
                    <img class="maxImg" src="http://p4-q.mafengwo.net/s9/M00/FE/49/wKgBs1ZEQIuAdxAtAAKBoGN1nrw95.jpeg?imageMogr2%2Fthumbnail%2F680x%2Fquality%2F90" alt="">
                    <p class="foodIn">
                        北京烤鸭有“天下第一美味”之称，可以说是北京饮食的代表菜。烤鸭分为以全聚德为代表的挂炉烤鸭和以便宜坊为代表的焖炉烤鸭两种，均选用北京填鸭为原料，经过数道工序后入炉烤制而成。成品金黄油亮、干松酥嫩。吃的时候，用烙好的薄荷叶饼抹上甜面酱，加上切好的京葱段儿，铺上鸭片，卷成筒状食用。一口咬下去，香酥嫩一起涌心间。
                    </p>
                </div>
                <div>
                    <h1>
                        <i class="reIcon"></i>
                        推荐美食
                    </h1>
                    <ul>
                        <li class="reFood">
                            <div class="recommend">
                                <a href="{:url('home/Region/foodMsg')}">
                                    <img src="http://p4-q.mafengwo.net/s5/M00/F9/BE/wKgB3FFC9UyAJYeyABFA_psBx3c61.jpeg?imageMogr2%2Fthumbnail%2F%21250x141r%2Fgravity%2FCenter%2Fcrop%2F%21250x141%2Fquality%2F90" alt="">
                                </a>
                                <div class="msgDiv">
                                    <h3><a href="{:url('home/Region/foodMsg')}">北京烤鸭地道</a></h3>
                                    <p>用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </li>
                        <li class="reFood">
                            <div class="recommend">
                                <a href="{:url('home/Region/foodMsg')}">
                                    <img src="http://p4-q.mafengwo.net/s5/M00/F9/BE/wKgB3FFC9UyAJYeyABFA_psBx3c61.jpeg?imageMogr2%2Fthumbnail%2F%21250x141r%2Fgravity%2FCenter%2Fcrop%2F%21250x141%2Fquality%2F90" alt="">
                                </a>
                                <div class="msgDiv">
                                    <h3><a href="{:url('home/Region/foodMsg')}">北京烤鸭地道</a></h3>
                                    <p>用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱用烙好的薄荷叶饼抹上甜面酱</p>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}

{/block}