{extend name="public/regionNav"}
<!--页面样式-->
{block name='style'}
<style>
    #desNav
    {
        display:block;
    }

</style>
<link rel="stylesheet" href="__CSS__/home/region/hotelPay.css">
{/block}
{block  name="site"}
<a href="">厦门<i class="layui-icon orangeIcon">&#xe625;</i></a>
<a><cite style="color: #ff7000;font-weight: bold;">重庆酒店预订</cite></a>
{/block}
{block name='body'}
    <div class="layui-container">
        <div class="layui-row">
            <h1 class="hotelName" >上海大酒店</h1>
            <a class="addH"><i class="layui-icon" style="font-size: 30px; color: orange;">&#xe600;</i>收藏</a>
        </div>
        <div class="layui-row">
            <div class="layui-col-sm7 layui-col-xs7">
                <img class="bigImg" src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
            </div>
            <div class="layui-col-sm5 layui-col-xs5">
                <ul class="imgUl">
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                </ul>
                <ul class="imgUl">
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                    <li>
                        <img src="http://p4-q.mafengwo.net/s10/M00/E6/E1/wKgBZ1l5Uj2AaEXkAAJvFpOW7sU07.jpeg?imageMogr2%2Fthumbnail%2F%211360x760r%2Fgravity%2FCenter%2Fcrop%2F%211360x760%2Fquality%2F90" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="borderB">
        <div class="layui-container">
            <div class="layui-row souNav">
                <ul class="layui-col-sm7 layui-col-xs7 leftUl">
                    <li>
                        <a>预订</a>
                    </li>
                    <li>
                        <a>攻略</a>
                    </li>
                    <li>
                        <a>点评</a>
                    </li>
                </ul>
                <ul class="layui-col-sm5 layui-col-xs5 rightUl">
                    <li>
                        <a><i class="layui-icon" style="font-size: 30px; color: orange;">&#xe61f;</i>点评</a>
                    </li>
                    <li id="hideH">
                        <a><i class="layui-icon" style="font-size: 30px; color: orange;">&#xe600;</i>收藏</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-container" id="vueArea">
        <div class="layui-row dateB">
            <input type="text" class="layui-input" id="test1">
            <input type="text" class="layui-input" id="test2">
            <button class="layui-btn layui-btn-warm">查看价格</button>
        </div>
        <div class="layui-row">
            <table class="layui-table" lay-skin="line">
                <thead>
                <tr>
                    <th>数据来源</th>
                    <th>最低价房型</th>
                    <th>最低价格/每晚</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>趣游旅游网</td>
                    <td>次日期暂无可选房型</td>
                    <td id="priColor">￥<span>2000</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt">基本信息</dt>
                <dd class="checkDd">
                    <ul class="checkIn">
                        <li>入住时间:14:00之后</li>
                        <li>离店时间:13:00之前</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt">主要设施</dt>
                <dd class="checkDd">
                    <ul class="main">
                        <li>
                            <i class="minIcon min1"></i>
                            <span>免费wifi</span>
                        </li>
                        <li>
                            <i class="minIcon min2"></i>
                            <span>免费停车场</span>
                        </li>
                        <li>
                            <i class="minIcon min3"></i>
                            <span>电梯</span>
                        </li>
                        <li>
                            <i class="minIcon min4"></i>
                            <span>餐厅</span>
                        </li>
                        <li>
                            <i class="minIcon min5"></i>
                            <span>行李寄存</span>
                        </li>
                        <li>
                            <i class="minIcon min6"></i>
                            <span>24小时服务</span>
                        </li>
                        <li>
                            <i class="minIcon min7"></i>
                            <span>热水壶</span>
                        </li>
                        <li>
                            <i class="minIcon min8"></i>
                            <span>吹风机</span>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt" id="{$hId}">酒店介绍</dt>
                <dd class="checkDd">
                    <span class="footC">酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。酒店周围遍布各种时尚餐厅和购物商场，客人步行即达三里屯酒吧街及工人体育场。</span>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <h1 class="commonH">真实用户点评</h1>
        </div>
        <!--放评论组件区域-->
        <my-module></my-module>
        <!--放评论组件区域-->
    </div>
{/block}
{block name='script'}
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1'//指定元
            ,value: new Date()
        });
        laydate.render({
            elem: '#test2'//指定元
            ,value: new Date()
        });
    });

    var bus = new Vue();

    Vue.component('my-module', {
        template: '<div><div class="layui-row replayArea" v-for="value in home">'+
        '<div class="layui-col-sm2 layui-col-xs2" >'+
            '<a href="" class="userA">'+
            '<img class="headImg" :src="staticUrl+\'/\'+value.uheadImg" alt="">{{value.uname}}</a>'+
            '</div>'+
            '<div class="layui-col-sm10 layui-col-xs10">'+
            '<div>'+
            '<p class="comTxt">{{value.content}}</p>'+
    '<i class="goodIcon good1"></i>'+
            '<div style="clear: both"></div>'+
            '</div>'+
            '<div class="comUpImg">'+
            '<img src="http://n2-q.mafengwo.net/s10/M00/F0/8B/wKgBZ1mOXqWAU_wgAAV_03MjvGY01.jpeg?imageMogr2%2Fthumbnail%2F%21500x300r%2Fgravity%2FCenter%2Fcrop%2F%21500x300%2Fquality%2F90" alt="">'+
            '<img src="http://n2-q.mafengwo.net/s10/M00/F0/8B/wKgBZ1mOXqWAU_wgAAV_03MjvGY01.jpeg?imageMogr2%2Fthumbnail%2F%21500x300r%2Fgravity%2FCenter%2Fcrop%2F%21500x300%2Fquality%2F90" alt="">'+
            '</div>'+
            '<div>'+
            '<i class="starIcon"></i>'+
            '<i class="starIcon"></i>'+
            '<i class="starIcon"></i>'+
            '<i class="starIcon"></i>'+
            '<i class="starIcon"></i>'+
            '<span class="dateSpan">2018-1-31</span>'+
        '<button class="layui-btn layui-btn-warm layui-btn-sm replay" v-on:click="outBtn()" v-if="value.comId==showId">关闭</button>'+
            '<button class="layui-btn layui-btn-warm layui-btn-sm replay" v-on:click="repBtn(value.comId)" v-else>回复</button>'+
            '</div>'+
            '<div style="clear: both"></div>'+

            '<div class="repArea" v-if="value.comId==showId">'+
            '<div>'+
            '<textarea class="textArea"></textarea>'+
            '<button class="layui-btn layui-btn-normal layui-btn-sm replay repBtn">评论</button>'+
            '</div>'+
            '<div class="replayMsg">'+
            '<a href="" class="userA1">'+
            '<img src="http://c4-q.mafengwo.net/s10/M00/42/8D/wKgBZ1i4Vn6ASITyAACHePEuq5M12.jpeg?imageMogr2%2Fthumbnail%2F%2196x96r%2Fgravity%2FCenter%2Fcrop%2F%2196x96%2Fquality%2F90" alt="">哈尼</a>'+
            '<p>交通很便利，出门就是地铁口，这让游天安门广场的我出行省心。酒店不包停车费一晚50有点不开心，但不影响整体居住心情。酒店提供按摩服务，我和老公一个人叫了一个全身和足底，砍了价11002小时2个人，我觉得还行吧</p>'+
    '<div class="operate">'+
            '<span>评论</span>'+
            '<span>删除</span>'+
            '<span>修改</span>'+
            '</div>'+
            '<div style="clear: both"></div>'+
            '</div>'+
            '</div>'+
            '</div>'+
            '</div></div>',
        data: function () {
            return {
                home:[],
                staticUrl : "__STATIC__",
                showId:0
            }
        },
        created:function(){
            bus.$on('home', function (res) {
             this.home=res;
            }.bind(this))
        },
        methods:{
            repBtn: function (id) {
                this.showId=id;
            },
            outBtn: function () {
                this.showId=false;
            }
        }
    });
    // 创建根实例
    new Vue({
        el: '#vueArea',
        data:{
            hId:"{$hId}"
        },
        mounted: function () {
            var _this=this;
            $.ajax({
                type:'get',
                url:"{:url('home/Region/htComMsg')}",
                data:{id:this.hId},
                dataType:"json",
                success: function (res) {
                    console.log(res);
                    bus.$emit('home', res)
                },error: function (res) {
                    console.log(res)
                }
            })
        }
    })
</script>
{/block}
