{extend name="public/regionNav"}
<!--页面样式-->
{block name='style'}
<style>
    #desNav{
        display: block;
    }
</style>
<link rel="stylesheet" href="__CSS__/home/region/hotel.css">
{/block}
{block  name="site"}
    <a href="">厦门<i class="layui-icon orangeIcon">&#xe625;</i></a>
    <a><cite style="color: #ff7000;font-weight: bold;">重庆酒店预订</cite></a>
{/block}
{block name='body'}
    <div class="layui-container">
        <div class="layui-row priContent">
            <div class="layui-col-sm5 ">
                    <span class="priceF">价格:</span>
                    <input type="text" name="title"  placeholder="请输入价格" class="layui-input">
                    <span>-</span>
                    <input type="text" name="title"   placeholder="请输入价格" class="layui-input">
                    <i class="layui-icon souIcon">&#xe615;</i>
            </div>
            <div class="layui-col-sm5  layui-col-sm-offset2">
                <div class="layui-form textR">
                    <input type="checkbox" name="" title="收藏">
                    <input type="text" name="title"   placeholder="请输酒店名" class="layui-input">
                    <i class="layui-icon souIcon">&#xe615;</i>
                    <span class="mgLeft">价格</span><i class="icon5"></i>
                </div>
                <div>
            </div>
        </div>
        </div>
        <div class="layui-row hotelBd">
            <div class="layui-col-sm4 layui-col-xs6">
                <img src="http://p1-q.mafengwo.net/s8/M00/C8/AD/wKgBpVWR1OWATgwpAAC6kG1-XPU02.jpeg?imageMogr2%2Fthumbnail%2F%21660x480r%2Fgravity%2FCenter%2Fcrop%2F%21660x480%2Fquality%2F90" alt="加载失败">
            </div>
            <div class="layui-col-sm8 layui-col-xs6">
                <div class="hotelR">
                    <div class="hTile">
                        <span>杭州尚途酒店公寓 </span>
                        <a class="addA">
                            <i class="layui-icon">&#xe658;</i>
                            <i>收藏</i>
                        </a>
                    </div>
                    <div class="reply">
                        <a href="">
                            <span><span>2</span>条</span><br>
                            <span>峰峰评价</span>
                        </a>
                        <p>房间很大，很干净，旁边就是超市和丁兰广场，很方便，下次还住！</p>
                    </div>
                    <div class="payBt">
                        <a href="">
                            立即预订
                            <span>￥<span>2000</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name='script'}
{/block}