{extend name="public/regionNav"}
<!--页面样式-->
{block name='style'}
<style>
    #desNav
    {
        display:block;
    }

</style>
<link rel="stylesheet" href="__CSS__/home/region/hotelPay.css">
{/block}
{block  name="site"}
<a href="">{$reName}<i class="layui-icon orangeIcon">&#xe625;</i></a>
<a><cite style="color: #ff7000;font-weight: bold;">{$reName}酒店预订</cite></a>
{/block}
{block name='body'}
<!--<div id="htImg">-->
    <div class="layui-container">
        <div class="layui-row">
            <h1 class="hotelName" >{$hotelMsg.hotelName}</h1>
            <a class="addH"><i class="layui-icon" style="font-size: 30px; color: orange;">&#xe600;</i>收藏</a>
        </div>
        <div class="layui-row" id="htImg">
            <div class="layui-col-sm7 layui-col-xs7">
                <img class="bigImg" src="__STATIC__/{$hotelMsg.img}" alt="">
            </div>
            <div class="layui-col-sm5 layui-col-xs5">
                <div v-if="imgShow" style="text-align: center">
                    <i class="layui-icon" style="font-size: 50px; color: orange;">&#xe63d;</i>
                </div>
                <ul class="imgUl" v-else>
                    <li v-for="value in imgMsg">
                        <img :src="site+value.url" alt="加载中">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="borderB">
        <div class="layui-container">
            <div class="layui-row souNav">
                <ul class="layui-col-sm7 layui-col-xs7 leftUl">
                    <li>
                        <a>预订</a>
                    </li>
                    <li>
                        <a>攻略</a>
                    </li>
                    <li>
                        <a>点评</a>
                    </li>
                </ul>
                <ul class="layui-col-sm5 layui-col-xs5 rightUl">
                    <li>
                        <a><i class="layui-icon" onclick="comment()" style="font-size: 30px; color: orange;">&#xe61f;</i>点评</a>
                    </li>
                    <li id="hideH">
                        <a><i class="layui-icon" style="font-size: 30px; color: orange;">&#xe600;</i>收藏</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="layui-container" id="vueComment">
        <div class="layui-row dateB">
            <input type="text" v-model="checkTime"  class="layui-input" id="time1">
            <input type="text" v-model="outTime"  class="layui-input" id="time2">
            <button class="layui-btn layui-btn-warm">查看价格</button>
        </div>
        <div class="layui-row" style="overflow:auto;">
            <table class="layui-table" lay-skin="line">
                <thead>
                <tr>
                    <th>数据来源</th>
                    <th>最低价房型</th>
                    <th>最低价格/每晚</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>趣游旅游网</td>
                    <td>次日期暂无可选房型</td>
                    <td id="priColor">￥<span>{$hotelMsg.hotelPrice}</span></td>
                    <td><a :href="payUrl+'id='+{$hId}+'&checkTime='+checkTime+'&outTime='+outTime+'&num=1'" class="layui-btn" id="payBtn">预订</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt">基本信息</dt>
                <dd class="checkDd">
                    <ul class="checkIn">
                        <li>入住时间:14:00之后</li>
                        <li>离店时间:13:00之前</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt">主要设施</dt>
                <dd class="checkDd">
                    <ul class="main">
                        <li>
                            <i class="minIcon min1"></i>
                            <span>免费wifi</span>
                        </li>
                        <li>
                            <i class="minIcon min2"></i>
                            <span>免费停车场</span>
                        </li>
                        <li>
                            <i class="minIcon min3"></i>
                            <span>电梯</span>
                        </li>
                        <li>
                            <i class="minIcon min4"></i>
                            <span>餐厅</span>
                        </li>
                        <li>
                            <i class="minIcon min5"></i>
                            <span>行李寄存</span>
                        </li>
                        <li>
                            <i class="minIcon min6"></i>
                            <span>24小时服务</span>
                        </li>
                        <li>
                            <i class="minIcon min7"></i>
                            <span>热水壶</span>
                        </li>
                        <li>
                            <i class="minIcon min8"></i>
                            <span>吹风机</span>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <dl class="checkDl">
                <dt class="checkDt" id="{$hId}">酒店介绍</dt>
                <dd class="checkDd">
                    <span class="footC">{$hotelMsg.hotelDescribe}</span>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <h1 class="commonH">真实用户点评</h1>
        </div>
        <!--放评论组件区域-->
        <my-module url="{:url('home/Region/htComMsg')}" scenic-id="{$hId}"></my-module>
        <!--放评论组件区域-->
    </div>
<!--</div>-->
{/block}
{block name='script'}
<script>
    url="{:url('home/Region/hotelOrder')}?";//明天这里接下去做
    new Vue({
        el:"#htImg",
        data:{
            imgMsg:[],
            htId:"{$hId}",
            site:"__STATIC__/",
            imgShow:true
        },
        created: function () {
            var _this=this;
            $.ajax({
                url:"{:url('home/Region/htImg')}",
                type:"get",
                data:{htId:_this.htId},
                dataType:"json",
                success: function (res) {
                    console.log(res);
                    _this.imgMsg=res;
                    _this.imgShow=false;
                },error: function (res) {
                    console.log(res);
                }
            })
        }
    })
    var staticUrl = "__STATIC__";
    var addComUrl = "{:url('home/Region/addhCom')}";
    var uid = "{$uid}";
    var delComUrl = "{:url('home/Region/delhCom')}"
</script>
<script src="__JS__/home/public/vueComment.js"></script>
{/block}
