{extend name="public/regionNav"}
<!--页面样式-->
{block name='style'}
<style>
    #desNav{
        display: block;
    }
</style>
<link rel="stylesheet" href="__CSS__/home/region/hotel.css">
{/block}
{block  name="site"}
    <a href="">厦门<i class="layui-icon orangeIcon">&#xe625;</i></a>
    <a><cite style="color: #ff7000;font-weight: bold;">重庆酒店预订</cite></a>
{/block}
{block name='body'}
    <div class="layui-container">
        <div class="layui-row priContent">
            <div class="layui-col-sm5 ">
                    <span class="priceF">价格:</span>
                    <input type="text" name="title"  placeholder="请输入价格" class="layui-input">
                    <span>-</span>
                    <input type="text" name="title"   placeholder="请输入价格" class="layui-input">
                    <i class="layui-icon souIcon">&#xe615;</i>
            </div>
            <div class="layui-col-sm5  layui-col-sm-offset2">
                <div class="layui-form textR">
                    <input type="checkbox" name="" title="收藏">
                    <input type="text" name="title"   placeholder="请输酒店名" class="layui-input">
                    <i class="layui-icon souIcon">&#xe615;</i>
                    <span class="mgLeft">价格</span><i class="icon5"></i>
                </div>
                <div>
            </div>
        </div>
        </div>
        <div id="hotelDiv">
        </div>
    </div>
{/block}
{block name='script'}
<script>
    var pageIndex=1;
    var pageSize=5;
    var dataT=[];
    var pageNum=0;
    layui.use('flow', function () {
        var $ = layui.jquery;
        var flow = layui.flow;
        flow.load({
            elem: '#hotelDiv',//存放每条数据的容器
            done: function (pageIndex, next) { //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.ajax({
                    type: "POST",
                    async:false,
                    url: "{:url('home/Region/ajaxHotel')}",
                    data: { size: pageSize, page: pageIndex},
                    dataType:"json",
                    success: function (data) {
                        console.log(data[1]);
                        pageIndex++; //服务端返回的json字符必须包含pageIndex和pageCount属性，pageIndex表示页码，pageCount是总页数
                        dataT=data[1];
                        pageNum=data[0];
                    }
                });
                for (var i = 0; i < dataT.length; i++) {
                    var d = '<div class="layui-row hotelBd">'+
                            '<div class="layui-col-sm4 layui-col-xs6">'+
                            '<a href="{:url(\'home/Region/hotelPay\')}?id='+dataT[i].hotelId+'"><img src="__STATIC__/'+dataT[i].img+'" alt="加载失败"></a>'+
                            '</div>'+
                            '<div class="layui-col-sm8 layui-col-xs6">'+
                            '<div class="hotelR">'+
                            '<div class="hTile">'+
                            '<a href="{:url(\'home/Region/hotelPay\')}?id='+dataT[i].hotelId+'"><span>'+dataT[i].hotelName+'</span></a>'+
                            '<a class="addA" id="'+dataT[i].hotelId+'">'+
                            '<i class="layui-icon">&#xe658;</i>'+
                            '<i>收藏</i>'+
                            '</a>'+
                            '</div>'+
                            '<div class="reply">'+
                            '<a href="{:url(\'home/Region/hotelPay\')}?id='+dataT[i].hotelId+'">'+
                            '<span><span>2</span>条</span><br>'+
                            '<span>峰峰评价</span>'+
                            '</a>'+
                            '<p>'+dataT[i].hotelDescribe+'</p>'+
                            '</div>'+
                            '<div class="payBt">'+
                            '<a href="{:url(\'home/Region/hotelPay\')}?id='+dataT[i].hotelId+'">'+
                            '立即预订'+
                            '<span>￥<span>'+dataT[i].hotelPrice+'</span></span>'+
                            '</a>'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                    lis.push(d);//每条数据都压入数组，LayUI会自动将每条信息插入Html的ID为#divArticle的元素
                }
                //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                //只有当前页小于总页数的情况下，才会继续出现加载更多
                next(lis.join(''), pageIndex <=pageNum );
            }
        });
    });
</script>
{/block}