{extend name="public/base"}
{block name='style'}
<!--页面样式、引用/示例如下-->
<!--引用百度地图需加的meta-->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="__CSS__/home/region/region.css">
{/block}

{block name='title'}
这个是某地区总体概览
{/block}

{block name='body'}
<!--页面内容 /示例如下-->
<!--面包屑区域-->
<div id="content2">
    <div class="layui-container navTop">
        <div class="layui-row">
            <div class="layui-col-sm6 layui-col-xs12">
                <div>
                    <span class="layui-breadcrumb" lay-separator=">">
                        <a href="">目的地</a>
                        <a href="">{$region_name}<i class="layui-icon orangeIcon">&#xe625;</i></a>
                        <a ><cite style="color: #ff7000;font-weight: bold;"><span>{$region_name}</span>旅游攻略</cite></a>
                    </span>
                </div>
                <div class="siteMsg">
                    <div class="siteName">
                        <h1 class="disB">{$region_name}</h1>
                        <a href="">(<span>{$count}</span>张照片)</a>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm3 layui-col-xs12 layui-col-sm-offset3">
               <ul class="imgA am-text-middle">
                   <li>
                       <a href=""><i class="icon imgPst1"></i>收藏</a>
                   </li>
                   <li>
                       <a href=""><i class="icon imgPst2"></i>去过</a>
                   </li>
               </ul>
            </div>
        </div>
        <div class="layui-row layui-hide-xs">
            <ul class="layui-nav catalog">
                <li class="layui-nav-item"><a href=""><i class="icon1 iconPst1"></i>概况</a></li>
                <li class="layui-nav-item"><a href=""><i class="icon1 iconPst2"></i>玩法路线</a></li>
                <li class="layui-nav-item"><a href=""><i class="icon1 iconPst3"></i>景点</a></li>
                <li class="layui-nav-item"><a href="{:url('home/Region/hotel')}?rgId={$sId}"><i class="icon1 iconPst4"></i>酒店</a></li>
                <li class="layui-nav-item">
                    <a href=""><i class="icon1 iconPst5"></i>美食</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="">移动模块</a></dd>
                        <dd><a href="">后台模版</a></dd>
                        <dd><a href="">电商平台</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="0"><i class="icon1 iconPst6"></i>游记</a></li>
            </ul>
        </div>
        <div class="layui-hide-sm">
            <ul class="layui-nav catalog">
                <li class="layui-nav-item"><a href=""><i class="icon1 iconPst1"></i>概况</a></li>
                <li class="layui-nav-item allMsg">
                    <a href=""><i class="icon1 iconPst7"></i>展开全部</a>
                    <ul class="catalog treeNav">
                        <li class="">
                            <a href="">
                                <i class="icon1 iconPst2"></i>玩法路线
                            </a>
                        </li>
                        <li class="">
                            <a href="">
                                <i class="icon1 iconPst3"></i>景点
                            </a>
                        </li>
                        <li class="">
                            <a href="{:url('home/Region/hotel')}?rgId={$sId}">
                                <i class="icon1 iconPst4"></i>酒店
                            </a>
                        </li>
                        <li class="">
                            <a href=""><i class="icon1 iconPst5"></i>美食</a>
                        </li>
                        <li class="">
                            <a href=""><i class="icon1 iconPst6"></i>游记</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--地区百科信息-->
<div id="regionBk">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-sm5 layui-col-xs6">
                <div class="msgDiv">
                    <span>攻略：</span>
                    <p class=" ">
                        {$bkMsg.intro}
                    </p>
                </div>
            </div>
            <div class="layui-col-sm5 regionImg layui-col-sm-offset2 layui-col-xs-offset1 layui-col-xs5 ">
                {$bkMsg.img}
            </div>
        </div>
    </div>
</div>
<!--景点路线区域-->
<div id="content3">
    <div id="map"></div>
    <div class="layui-container">
        <h1 class="lineFont"><span>{$region_name}</span><span>2</span>条经典路线</h1>
        <div class="layui-row">
            <div class="layui-col-sm6" v-if="type==true" v-for="(value,key) in routeMsg.msg">
                <div class="mapBorder1 scenicMsg">
                    <h1>
                        <span class="layui-badge layui-bg-orange mapNo">{{key+1}}</span>
                        <span>
                            {{routeMsg.name}}{{value[0].title}}
                        </span>
                    </h1>
                    <div class="map">

                    </div>
                    <div class="selectLine">
                        <span class="percent">
                            {{value[0].chose}}%
                        </span>
                        <h3>初次访问<span>
                        </span>的蜂蜂会选择这条路线</h3>
                    </div>
                    <div class="pathShow">
                        <div>
                            <span class="pathSpan">D<span>1</span></span>
                            <span v-for="(val,k) in value" class="layui-breadcrumb">
                                <a href=""><cite>{{val.scenicName}}</cite></a>
                                <span v-if="k<value.length-1">-></span>
                            </span>
                        </div>
                        <a href="" class="lookA">查看></a>
                    </div>
                </div>
            </div>
            <div v-else>
                <i class="layui-icon" style="font-size: 30px; color: orange;">&#xe63d;</i>
            </div>
        </div>
        <div class="lookAll">
            <a href="">
                <span class="book">
                    <i class="i-blue"></i>
                    <i class="i-orange"></i>
                </span>
                查看全部<span class="numOrange"><span>{{routeMsg.count}}</span>条</span>路线>
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
<!--景点美食酒店攻略区域-->
<div id="content4">
    <div class="layui-container c4Top">
        <div class="layui-row strategy">
            <div class="layui-col-sm4">
                <div class="hotelW">
                    <h2 class="hotelMsg"><a href="{:url('home/Region/hotel')}?rgId={$sId}">酒店住宿攻略<i class="innerIcon"></i></a></h2>
                    {volist name='hotelMsg.msg' id='value'}
                    <a href="{:url('home/Region/hotel')}?rgId={$sId}">
                        <div class="innerDiv">
                            <h3>
                                <span class="layui-badge layui-bg-orange">{$i}</span>
                                <span>{$value.hotelName}</span>
                            </h3>
                            <div class="pst">
                                <img class="hotelMap" src="__STATIC__/{$value.img}" alt="">
                                <div class="introduceMsg">
                                    <span>{$value.hotelDescribe}</span>
                                </div>
                            </div>
                            <div class="comTop">
                                <img class="headImg" src="__STATIC__/images/region/head/head1.jpeg" alt="加载失败">
                                <span class="comName">梨窝浅浅</span>
                                <span class="comMsg">“呆过四年，每个来厦门旅游的必选，四年，每个来厦门旅游的必选，四年，每个来厦门旅游的必选，四年，每个来厦门旅游的必选，四年，每个来厦门旅游的必选，钢琴之岛，音乐之岛。万国建筑。日光岩。琴之岛，音乐之岛。万国建筑。日光岩。怀怀念以前念书的日...”</span>
                            </div>
                        </div>
                    </a>
                    {/volist}
                    <div class="dashed">
                        <a href="{:url('home/Region/hotel')}?rgId={$sId}"><span>{$hotelMsg.count}</span>家酒店<i class="orgIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm4">
                <div class="hotelW middleDiv">
                    <h2 class="hotelMsg"><a href="">必游景点排行<i class="innerIcon"></i></a></h2>
                    {volist name="scenicMsg.list" id="value"}
                        <div class="innerDiv">
                            <h3>
                                <span class="layui-badge layui-bg-orange">{$i}</span>
                                <span>{$value.scenicName}</span>
                            </h3>
                            <div class="pst">
                                <img class="hotelMap" src="__STATIC__/{$value.scenicImg}" alt="加载失败">
                                <div class="introduceMsg">
                                    <span>{$value.scenicDescribe}</span>
                                </div>
                            </div>
                            <div class="comTop">
                                <img class="headImg" src="__STATIC__/images/region/head/head1.jpeg" alt="加载失败">
                                <span class="comName">梨窝浅浅</span>
                                <span class="comMsg">“呆过四年，每个来厦门旅游的必选，钢琴之岛，音乐之岛。万国建筑。日光岩。琴之岛，音乐之岛。万国建筑。日光岩。怀怀念以前念书的日...”</span>
                            </div>
                        </div>
                    {/volist}
                    <div class="dashed">
                        <a href=""><span>{$scenicMsg.count}</span>个景点<i class="orgIcon"></i></a>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm4">
                <div class="hotelW rightDiv">
                    <h2 class="hotelMsg"><a href="">必吃美食排行<i class="innerIcon"></i></a></h2>
                    {volist name='foodMsg.msg' id='value'}
                    <div class="innerDiv">
                        <h3>
                            <span class="layui-badge layui-bg-orange">{$i}</span>
                            <span>{$value.foodName}</span>
                        </h3>
                        <div class="pst">
                            <img class="hotelMap" src="__STATIC__/{$value.foodImg}" alt="">
                            <div class="introduceMsg">
                                <span>{$value.foodDescribe}</span>
                            </div>
                        </div>
                        <div class="comTop">
                            <img class="headImg" src="__STATIC__/images/region/head/head1.jpeg" alt="加载失败">
                            <span class="comName">梨窝浅浅</span>
                            <span class="comMsg">“呆过四年，每个来厦门旅游的必选，钢琴之岛，音乐之岛。万国建筑。日光岩。琴之岛，音乐之岛。万国建筑。日光岩。怀怀念以前念书的日...”</span>
                        </div>
                    </div>
                    {/volist}
                    <div class="dashed">
                        <a href=""><span>{$foodMsg.count}</span>种美食<i class="orgIcon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--景点游记-->
<div id="content5">
    <div class="layui-container">
        <h6 class="siteColor"><span>香格里拉</span>游记</h6>
        <div class="layui-row">
            <div>
                <img class="scenicImg" src="__STATIC__/images/region/scenic/scenic1.jpeg" alt="加载失败">
                <div class="mgLeft">
                    <dl class="msgDl">
                        <dt>
                            <a href="">滇北第二站：独克宗的意思是月光城</a>
                        </dt>
                        <dd>
                            <a href="">带着第一站梅里朝圣的圆满一站梅里朝圣的圆满，悟空又坐上班车小巴从飞来寺观一站梅里朝圣的圆满，悟空又坐上班车小巴从飞来寺观一站梅里朝圣的圆满，悟空又坐上班车小巴从飞来寺观，悟空又坐上班车小巴从飞来寺观景台返回 香格里拉 。回程的路上，依然要 盘山 翻越两座大雪山，旅途依然艰苦而遥远，悟空却倍感轻松，对梅里的期盼已被满足，对高反的紧张不知所踪，五个小时一晃而过，便到了 香格里拉 。 悟空发现，很多想到这里旅行...</a>
                        </dd>
                    </dl>
                    <div class="headDiv">
                        <img class="upHead" src="__STATIC__/images/region/head/head2.jpeg" alt="加载失败">
                        <span>小巴黎xiaoYu</span>
                        <a href=""><i class="iconUp"></i><span class="upNum">255</span></a>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="lookAll">
                <a href="">
                <span class="book">
                    <i class="i-blue"></i>
                    <i class="i-orange"></i>
                </span>
                    查看全部<span class="numOrange">香格里拉</span>游记>
                </a>
            </div>
        </div>
    </div>
</div>
{/block}

{block name='script'}
<!--JS、引用 /示例如下-->
<!--引用百度地图api文件-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=TRYU1lcQ2YkgXRzerqXODMOKkAGrETrL"></script>
<script>
    nav(2);
    layui.use('element', function(){
        var element = layui.element;
    });
//   到时候需要封装起来
    new Vue({
        el: '#baseMain',
        data:{
            routeMsg:[],
            routeS:false,
            type:false
        },
        created: function () {
            var _this=this;
            $.ajax({
                type:"get",
                url:"{:url('home/Region/route')}",
                dataType:"json",
                success: function (res) {
                    console.log(res);
                    _this.routeMsg=res;
                    var routeArr=[];
                    for(var i=0;i<res.msg.length;i++)
                    {
                        routeArr.push([]);
                        for(var j=0;j<res.msg[i].length;j++)
                        {
                            routeArr[i].push(res.msg[i][j].scenicName);
                        }
                    }
                },error: function (res) {
                    console.log(res);
                }
            });
            oScript.onload = function () {
                that.$nextTick(
                        that.createMap(this.BMap)
                )
            }
            _this.type=true;
            _this.bdMap(['福州西湖','福州三坊七巷','福州花海公园']);
        },
        methods: {
            bdMap:function(scenicArr) {
                var map = new BMap.Map('map');//创建地图实例
                map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
                //添加地图类型控件
                map.addControl(new BMap.MapTypeControl({
                    mapTypes:[
                        BMAP_NORMAL_MAP,
                        BMAP_HYBRID_MAP
                    ]}));
                map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
                map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
//                map.enableScrollWheelZoom(true);//地图的鼠标滚轮缩放默认是关闭的，需要配置开启。
//                var opts = {type: BMAP_NAVIGATION_CONTROL_LARGE};//平移控件外观
//                map.addControl(new BMap.NavigationControl(opts));//添加平移缩放控件
//                var myGeo = new BMap.Geocoder();
//                myGeo.getPoint('福州', function (point) {
//                    if (point) {
//                        var address = new BMap.Point(point.lng, point.lat);
//                        map.centerAndZoom(address,10);           // 初始化地图，设置中心点坐标和地图级别
//                    }
//                });
                var arr = scenicArr;
//                var marArr = [];
//                var index = 0;
//                bdGEO();
//                for (var i = 0; i < arr.length; i++) {
//                    myGeo.getPoint(arr[i], function (point) {
//                        if (point) {
//                            var address = new BMap.Point(point.lng, point.lat);
//                            var marker = new BMap.Marker(address);
//                            map.addOverlay(marker);
//                            marArr.push(address);
//                        }
//                    });
//                }
//                function bdGEO() {
//                    var add = arr[index];
//                    geocodeSearch(add);
//                    index++;
//                }
//
//                function geocodeSearch(add) {
//                    if (index < arr.length) {
//                        setTimeout(window.bdGEO, 400);//如果缺少，for循环和地图加载异步，线程速度不一样，会造成只显示最后一个标注点。
//                    }
//                    myGeo.getPoint(add, function (point) {
//                        if (point) {
//                            var address = new BMap.Point(point.lng, point.lat);
//                            addMarker(address, new BMap.Label(index + ":" + add, {offset: new BMap.Size(20, -10)}));
//                        }
//                    });
//                }
//
//                function addMarker(point, label) {
//                    var marker = new BMap.Marker(point);
//                    map.addOverlay(marker);
//                    marker.setLabel(label);
//                    var polyline = new BMap.Polyline(marArr[index],
//                            {strokeColor: "orange", strokeWeight: 4, strokeOpacity: 1}//设置属性
//                    );
//                    map.addOverlay(polyline);//跟polyline一块使用，添加上线
//                }
            }
        }
    });

//    function bdMap(showId,regionName,scenicArr,max) {
//        var map = new BMap.Map(showId);//创建地图实例
//        map.enableScrollWheelZoom(true);//地图的鼠标滚轮缩放默认是关闭的，需要配置开启。
//        var opts = {type: BMAP_NAVIGATION_CONTROL_LARGE};//平移控件外观
//        map.addControl(new BMap.NavigationControl(opts));//添加平移缩放控件
//        var myGeo = new BMap.Geocoder();
//        myGeo.getPoint(regionName, function (point) {
//            if (point) {
//                var address = new BMap.Point(point.lng, point.lat);
//                map.centerAndZoom(address, max);           // 初始化地图，设置中心点坐标和地图级别
//            }
//        });
//        var arr = scenicArr;
//        var marArr = [];
//        var index = 0;
//        bdGEO();
//        for (var i = 0; i < arr.length; i++) {
//            myGeo.getPoint(arr[i], function (point) {
//                if (point) {
//                    var address = new BMap.Point(point.lng, point.lat);
//                    var marker = new BMap.Marker(address);
//                    map.addOverlay(marker);
//                    marArr.push(address);
//                }
//            });
//        }
//        function bdGEO() {
//            var add = arr[index];
//            geocodeSearch(add);
//            index++;
//        }
//
//        function geocodeSearch(add) {
//            if (index < arr.length) {
//                setTimeout(window.bdGEO, 400);//如果缺少，for循环和地图加载异步，线程速度不一样，会造成只显示最后一个标注点。
//            }
//            myGeo.getPoint(add, function (point) {
//                if (point) {
//                    var address = new BMap.Point(point.lng, point.lat);
//                    addMarker(address, new BMap.Label(index + ":" + add, {offset: new BMap.Size(20, -10)}));
//                }
//            });
//        }
//
//        function addMarker(point, label) {
//            var marker = new BMap.Marker(point);
//            map.addOverlay(marker);
//            marker.setLabel(label);
//            var polyline = new BMap.Polyline(marArr[index],
//                    {strokeColor: "orange", strokeWeight: 4, strokeOpacity: 1}//设置属性
//            );
//            map.addOverlay(polyline);//跟polyline一块使用，添加上线
//        }
//    }
//    bdMap('map','福州',['福州西湖','福州三坊七巷','福州花海公园'],10);
</script>
{/block}