{extend name="public/regionNav"}
<!--页面样式-->
{block name='style'}
<style>
    #desNav{
        display: block;
    }
</style>
<link rel="stylesheet" href="__CSS__/home/region/scenic.css">
{/block}
<!--页面内容 /示例如下-->
{block name='body'}
    <div class="layui-container">
        <div class="layui-row">
            <h1 class="summarize">景点概述</h1>
        </div>
        <div class="layui-row">
            <p class="smMsg">
                到上海，你永远不会觉得无事可做，你可以到外滩尽情感受夜的风情，去徐汇区的天平路和湖南路找最漂亮的老洋房，在老上海的里弄感受历史的沉淀，或者索性也彻底小资一把，去田子坊、新天地静坐冥想，任时光流逝；衡山路酒吧街对饮狂欢；1933老厂房这些艺术仓库看看中西混搭的艺术魅力。最后千万别忘了登上东方明珠，放眼看看这个国际化的大都市。
            </p>
        </div>
    </div>
{/block}
<!--Js引用-->
{block name='script'}

{/block}
