{extend name="public/base"}
{block name='style'}
<link rel="stylesheet" href="__CSS__/home/region/scenicPay.css">

{/block}
{block name='body'}
<div class="layui-container" id="app">
    <div class="layui-row">
        <div class="layui-row breadcrumb">
             <span class="layui-breadcrumb" lay-separator=">">
                <a href="">目的地</a>
                <a href="">{$msg.rName}</a>
                <a><cite>景点门票</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-sm5">
            <div class="layui-carousel" id="test1">
                <div carousel-item>
                    {foreach $msg.sImg as $vo}
                    <div>
                        <img src="__STATIC__/{$vo['url']}" alt="">
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="layui-col-sm7">
            <div class="pdDiv">
                <h1><span>{$msg.scenicName}</span>电子票</h1>
                <div class="msgSpan">
                    <span>刷身份证检票</span>
                    <span>无需排队</span>
                    <span>未用可退</span>
                </div>
                <div>
                    <span>
                        实名购票(购票数与实名数保持一致)
                    </span>
                    <h1 class="sMoney">￥<span>{$msg.price}</span></h1>
                </div>

                <div>
                    <button class="layui-btn layui-btn-warm addBtn" v-if="addMsg" @click="change">关闭</button>
                    <button class="layui-btn layui-btn-warm addBtn" @click="change" v-else>实名添加</button>
                </div>
            </div>
        </div>
    </div>
    <!--到时候先隐藏，后面通过vue来开关-->
    <transition name="fade">
        <div class="layui-row magTop" v-if="addMsg">
            <div class="layui-form">
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证</label>
                        <div class="layui-input-inline">
                            <input type="text" required lay-verify="required" placeholder="请输入身份证" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm3">
                   <button class="layui-btn">确认添加</button>
                </div>
            </div>
        </div>
    </transition>
    <div class="layui-row tableSc">
        <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>身份证</th>
                <th>电话号码</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>张德长</td>
                <td>35465451314564512</td>
                <td>15259052697</td>
                <td>
                    <button class="layui-btn layui-btn-warm " >删除</button>
                    <button class="layui-btn layui-btn-warm " id="btnS">修改</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="layui-row payDiv">
        <h3>总价：￥<span>2000</span></h3>
        <button class="layui-btn layui-btn-warm " >立即购买</button>
    </div>
</div>
{/block}
{block name='script'}
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'hover' //始终显示箭头
            ,autoplay:true
        });
    });
    new Vue({
        el:"#app",
        data:{
            addMsg:false
        },
        methods:{
            change: function () {
                this.addMsg=!this.addMsg;
            }
        }
    })
</script>
{/block}