{extend name="public/base"}
{block name='style'}
<link rel="stylesheet" href="__CSS__/home/region/scenicMsg.css">
{/block}

{block name='body'}
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-row breadcrumb">
             <span class="layui-breadcrumb" lay-separator=">">
                <a href="">目的地</a>
                <a href="">{$msg.rName}</a>
                <a><cite>{$msg.rName}景点</cite></a>
            </span>
        </div>
    </div>
    <div class="layui-row borderB">
        <div class="layui-col-sm6 layui-col-xs6">
            <h1 class="scenicH1">
                {$msg.scenicName}
            </h1>
        </div>
        <div class="layui-col-sm6 layui-col-xs6">
            <ul class="imgA am-text-middle">
                <li>
                    <a href=""><i class="icon imgPst1"></i>收藏</a>
                </li>
                <li>
                    <a href=""><i class="icon imgPst2"></i>去过</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="scBd">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-sm6 layui-col-xs6">
                <ul class="hrefUl">
                    <li class="orangeB">
                        <a >概况</a>
                    </li>
                    <li>
                        <a >门票预订</a>
                    </li>
                    <li>
                        <a >趣游点评<span></span></a>
                    </li>
                </ul>
            </div>
            <div class="layui-col-sm6 layui-col-xs6 aBtn">
                <a  class="layui-btn layui-btn-warm">我要点评</a>
            </div>
        </div>
    </div>
</div>
<div class="whiteB">
    <div class="layui-container">
    <div class="layui-row ">
        <div class="layui-col-sm8 layui-col-xs8 scMaxImg">
            <a>
                <img src="__STATIC__/{$msg.imgMsg[0]['url']}" alt="">
            </a>
        </div>
        <div class="layui-col-sm4 layui-col-xs4 scMinImg">
        <a >
            <img src="__STATIC__/{$msg.imgMsg[1]['url']}" alt="">
        </a>
        <a >
            <img class="topImg" src="__STATIC__/{$msg.imgMsg[2]['url']}" alt="">
        </a>
    </div>
    </div>
</div>
</div>
<div class="grayB">
    <div class="layui-container">
        <div class="layui-row">
            <p class="introP">
                {$msg.scenicDescribe}
            </p>
        </div>
        <div class="layui-row">
            <dl class="msgDl">
                <dt>
                    门票
                </dt>
                <dd>
                    <div>
                        <span>{$msg.price}</span>元/人
                    </div>
                </dd>
            </dl>
        </div>
        <div class="layui-row">
            <dl class="msgDl">
                <dt>
                    开放时间
                </dt>
                <dd>
                    <div>
                        夏6:00-22:00 ，冬7:00-21:30
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="whiteB" id="vuePay">
    <div class="layui-container">
        <div class="layui-row">
            <h1>门票预订(门票仅限当天使用)</h1>
            <div style="margin-top: 20px">
                <span style="font-size: 17px">请选择使用时间：</span>
                <input type="text" class="layui-input" id="time1">
            </div>
        </div>
        <div class="layui-row" style="margin-top: 25px">
            <table class="layui-table" lay-skin="line">
                <thead>
                <tr>
                    <th>数据来源</th>
                    <th>类型</th>
                    <th>价格</th>
                    <th>数量选择</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>趣游旅游网</td>
                    <td>景点门票</td>
                    <td id="priColor">￥<span>{$msg.price}</span></td>
                    <td>
                        <input v-model="num" type="number" min="1" max="100" value="1">（张）
                    </td>
                    <td>
                        <button @click="payReg" href="{:url('home/Region/scenicPay')}?id={$msg.scenicId}" class="layui-btn">预订</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="grayB">
    <div class="layui-container" id="vueComment">
        <div class="layui-row">
            <div class="margB">
                <h1>趣游点评</h1>
            </div>
        </div>
        <my-module url="{:url('home/Region/htComMsg')}" scenic-id="275"></my-module>
    </div>
</div>
{/block}
{block name='script'}
<script src="__JS__/home/public/vueComment.js"></script>
<script>
    var timss = (new Date()).getTime();
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#time1'//指定元
            ,value: new Date(timss),
            min:0,
            max:7
            ,done: function(value){
                console.log(value);
                $vuePay.checkTime=value;
            }
        });
    });
    $vuePay=new Vue({
        el:"#vuePay",
        data:{
            num:1
            ,checkTime:$now
        },
        methods:{
            payReg: function () {
                var _this=this;
                if(_this.num>0&&_this.num<=100)
                {
                    console.log(_this.checkTime);
                    _this.checkTime
                }
                else
                {
                    layer.msg('数量输入有误', {icon: 5});
                }
            }
        }
    })
</script>
{/block}
