
.am-titlebar-default .am-titlebar-title:before{
    border-left: 3px solid orange;
}
.am-titlebar-default .am-titlebar-title{
    color: orange;
}

#tips{
    text-align: center;
    font-size: 22px;
    color: grey;
    padding: 30px 0;
}
.am-gallery-item div{
    width: 100%;
    height: 200px;

}
.am-gallery-item p{
    padding: 0;
    text-align: left;
}
#content{
    min-height: 700px;
}

.am-titlebar-nav a{
    float: right;
    margin-bottom: 10px
}
